body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  font-size: 10px;
  height: 100vh;
  text-align: center;
}
h1 {
  color: crimson;
  font-size: 4rem;
  padding: 1rem;
}
a {
  color: aliceblue;
  text-decoration: none;
  background-color: darkgrey;
  padding: 1rem;
  font-size: 2rem;
  font-family: "Caveat", cursive;
  font-family: "Libre Baskerville", serif;
  font-family: "Rubik", sans-serif;
}
footer {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
